{
   "Description": "rhcos-{{ rhcos_version }}-x86_64-aws.x86_64",
   "Format": "vmdk",
   "UserBucket": {
       "S3Bucket": "{{ vm_import_bucket_name }}",
       "S3Key": "rhcos-{{ rhcos_version }}-{{ rhcos_arch }}-aws.{{ rhcos_arch }}.vmdk"
    }
}
